<h1>Create a new brand</h1>

<%= render partial: "layouts/error", locals: {object: @brand}  %>


<%= form_for @brand do |f| %>
    <%= render partial: "form", locals: { in_the_partial: f } %>
    <h3>And add shoes:</h3>
    <%= f.fields_for :shoes do |s|  %>
      <%= s.label "Price" %> 
      <%= s.number_field :price, step: 0.01, min: 0 %><br></br>
      <%= s.label(:color) %> 
      <%= s.text_field :color %><br></br>
      <%= s.label(:condition) %> 
      <%= s.text_field :condition, required: true %><br></br>
    <hr>
      <% end %> 
    <%= f.submit %> 
<% end %>