<h1>Create a Shoe </h1>

<% if @shoe.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@shoe.errors.count, "error") %> prohibited this shoe from being saved:</h2>

    <ul>
      <% @shoe.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_for(@shoe) do |f| %>
    <%= f.label "Price" %> 
    <%= f.number_field :price, step: 0.01, min: 0 %><br></br>
    <%= f.label(:color) %> 
    <%= f.text_field :color %><br></br>
    <%= f.label(:condition) %> 
    <%= f.text_field :condition, required: true %><br></br>
    <h3> Select a brand: </h3>
    <%= f.collection_select :brand_id, Brand.all, :id, :name %>

    <h3>Or create a new brand: </h3>
    <%= f.fields_for :brand do |b| %>
      <%= b.label(:name) %> 
      <%= b.text_field :name %><br></br>
      <%= b.label(:year_founded) %> 
      <%= b.number_field :year_founded %><br></br>
    <% end %>
    <%= f.submit %> 
<% end %>
