<!DOCTYPE html>
<html>
  <head>
    <title>ShoeRating</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="l-box">
    <div>
      <%= link_to "All Shoes", shoes_path %> |
      <%= link_to "Create a New Shoe", new_shoe_path %>  |
      <%= link_to "All Brands", brands_path %> |
      <%= link_to "Create a New Brand", new_brand_path %>
    </div>


    <%= yield %>
  </body>
</html>
